@import "compass/css3/transform";

body{
        background-image : url("../images/spaceScape.jpg");
        width: 960px;
        margin: auto;
        font-family: 'Oswald', 'Montserrat Alternates','Mate', serif;
    }
    
    #welcomeText {
        color:white;
        font-family: 'Oswald', 'Montserrat Alternates',Segoe UI,Helvetica,Arial,sans-serif;
        text-shadow: 3px 3px 0px #B14C13;
    }
    
    #frontContainer {
        width: 960px; 
        text-align: left; 
        margin: 100px auto auto auto;
    }

    #frontContainer h2 {
        font-family: 'Oswald' ,'Montserrat Alternates','Mate', serif;
        font-size: 35px;
        color: #000;
        padding: 15px;
    }

    #frontContainer h3{
        font-family:'Oswald' , 'Montserrat Alternates', 'Mate', serif;
        font-size: 28px;
        color: #3f7333;
    }

    #frontContainer .blogText{
        font-family: 'Oswald' , 'Montserrat Alternates' , 'Mate', serif;
        font-size: 18px;
        color: #3f7698;
        text-align: justify;
        text-justify: inter-word;
    }

    #frontContainer .blogTime{
        font-family: 'Oswald' ,'Montserrat Alternates', 'Mate', serif;
        font-size: 20px;
        color: #fff;
        font-weight: bold;
        padding-bottom: 20 px;
        
    }

    #frontContainer .teamText{
        font-family: 'Oswald' , 'Montserrat Alternates' , 'Mate', serif;
        font-size: 18px;
        color: #3f7698;
        text-align: justify;
        text-justify: inter-word;
    }

     #frontContainer .aboutText{
        font-family: 'Oswald' ,'Montserrat Alternates' , 'Mate', serif;
        font-size: 18px;
        color: #3f7698;
        text-align: justify;
        text-justify: inter-word;
    }
    #standardShip{
        position:fixed;
        z-index:-1;
    }
    
    #headerSubText {
        color:white;
        font-family: 'Oswald', 'Montserrat Alternates' , Segoe UI,Helvetica,Arial,sans-serif;
        text-shadow: 3px 3px 0px green;
        margin-left: 75px;
    }

    .transparent {

        opacity:0.75;
        filter:alpha(opacity=75); /* For IE8 and earlier */
           opacity: .75;
         transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;

    }


   .transparent:hover {
      opacity: 1.0;
      }

    .crewMemberImage {

        width: 200;
        height: 200;
        float: left;
        position: relative;
        padding: 10px;

    }

    .crewMemberImage : hover {

        opacity:0.75;
        filter:alpha(opacity=75); /* For IE8 and earlier */


    }
    
    .crewMemberName {
         float: left;
         vertical-align: left;
    }

     .teamText{
        font-family: 'Oswald' ,'Montserrat Alternates' , 'Mate', serif;
        font-size: 14px;
        color: #3f7698;
    }
    .siteHeader {
        padding: 10px;
        background-color: #6699cc;
    }

